---
/* eslint max-lines: 'off' */
import MainWidget from "../components/MainWidget.astro"
---

<div class="px-4 pt-6">
	<div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-4">
		<!-- Main widget -->
		<MainWidget colSpan="1", card1Title="Ingresos", card2Title="Egresos", card3Title="IMSS", card4Title="Neto"/>
	</div>
</div>
